<link href="cleaner/public/cleaner.css" media="screen" rel="stylesheet" type="text/css">

<div class="cleaner">
  <p class="message">Processed <%= @count %> jobs.</p>
  <p class="back_to_list">
  <a href="<%=@url%>">Back to List</a>
  </p>
</div>
