<link href="cleaner/public/cleaner.css" media="screen" rel="stylesheet" type="text/css">

<div class="cleaner">
  <div class="title clearfix">
    <h1>Group by class</h1>
  </div>

  <% @type = 'klass' %>
  <% @q = 'c' %>
  <%= erb File.read(ResqueCleaner::Server.erb_path("_stats.erb")) %>

  <div class="title clearfix">
    <h1>Group by exception</h1>
  </div>
  <% @type = 'exception' %>
  <% @q = 'ex' %>
  <%= erb File.read(ResqueCleaner::Server.erb_path("_stats.erb")) %>

  <% if @cleaner.limiter.on? %>
    <%= erb File.read(ResqueCleaner::Server.erb_path("_limiter.erb")) %>
  <% end %>
</div>
