<%= erb File.read(ResqueCleaner::Server.erb_path("_cleaner_styles.erb")) %>

<div class="cleaner">
  <p class="message">Processed <%= @count %> jobs.</p>
  <p class="back_to_list">
  <a href="<%=@list_url%>">Back to List</a>
  </p>
</div>
