<link href="cleaner/public/cleaner.css" media="screen" rel="stylesheet" type="text/css">

<div class="cleaner">
  <div class="title clearfix">
    <h1>Group by class</h1>
  </div>

  <%= erb(
        File.read(ResqueCleaner::Server.erb_path("_stats.erb")),
        locals: {q: 'c', type: 'klass'}
      ) %>

  <div class="title clearfix">
    <h1>Group by exception</h1>
  </div>

  <%= erb(
        File.read(ResqueCleaner::Server.erb_path("_stats.erb")),
        locals: {q: 'ex', type: 'exception'}
      ) %>

  <div class="title clearfix">
    <h1>Group by queue</h1>
  </div>

  <%= erb(
        File.read(ResqueCleaner::Server.erb_path("_stats.erb")),
        locals: {q: 'q', type: 'queue'}
      ) %>

  <% if @cleaner.limiter.on? %>
    <%= erb File.read(ResqueCleaner::Server.erb_path("_limiter.erb")) %>
  <% end %>
</div>
