<link href="/cleaner/public/cleaner.css" media="screen" rel="stylesheet" type="text/css">

<div class="cleaner">
  <h1>Failures by ResqueCleaner</h1>

  <div class="filter">
    <form method="get">
      <span class="time_filter">
        From: <%= time_filter("filter_from","f",@from)%>
      </span>
      <span class="time_filter">
        To: <%= time_filter("filter_to","t",@to)%>
      </span>
      <input type="submit" value="Filter" />
    </form>
  </div>
  <table class="class_list">
    <tr>
      <th>Class</th>
      <th>Failed</th>
    </tr>
    <% @stats.each do |klass,count| %>
      <tr>
        <td><%= klass %></td>
        <td class="number"><%= count %></td>
      </tr>
    <% end %>
  </table>
</div>
